#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f3f6f4;
}

.div--chat {
  background-color: #fff;
  width: 50%;
  height: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
}

.chat {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  /* TODO: die scroll function muss ganz oben sein */
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.bubble {
  padding: 15px;
  margin: 10px 0;
  border-radius: 15px;
  width: 60%;
}

.time {
  align-self: center;
  color: grey;
  font-size: 0.8em;
}

.bubble>p {
  /* TODO: muss man es in p unterteilen? */
  margin: 0; 
}

.bubble.bot {
  background-color: #d9d9d9;

}

.bubble.user {
  background-color: turquoise;
  align-self: flex-end;
}

.div--input {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.messages {
  margin-bottom: 30px;
}

/* TODO: rename */
#message {
  width: 90%;
}

.button--icon {
  height: 25px;
  width: 25px;
}

input {
  margin-bottom: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  border: none;
  padding: 5px;
  height: auto;
}

.link--older-posts {
  text-decoration: underline;
  color: blue;
  margin-bottom: 30px;
  align-self: center;
}